    /* ==UserStyle==
@name           Nyaa.si Fixed Bottom Navbar
@namespace      github.com/erebosgr
@version        1.0.0
@description    It fixes the Navbar to the bottom
@author         ErebosGR
@homepageURL    https://github.com/erebosgr/nyaafixednavbar

==/UserStyle== */
    @-moz-document domain("nyaa.si") {
        .navbar {
            position: fixed;
            /* Set the navbar to fixed position */
            bottom: 0;
            /* Position the navbar at the bottom of the page */
            width: 100%;
            /* Full width */
            margin-bottom: 0px;
        }
        .center {
            margin-bottom: 50px;
            /* Add a top margin to avoid content overlay */
        }
        .comment-box {
            margin-bottom: 50px;
            /* Add a top margin to avoid content overlay */
        }
    }
